.container {
  display: flex;
  position: fixed;
  inset: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px);
  background-color: rgba(102, 97, 97, 0.5);
  z-index: 9999;
}
.modal {
  box-sizing: border-box;
  overflow: hidden;
  width: 561px;
  height: 362px;
  border: none;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
}
.modal h3 {
  font-size: 28px;
  font-weight: 600;
  position: relative;
  left: 200px;
}
.modal p {
  direction: rtl;
  margin-right: 30px;
  font-size: 16px;
  font-weight: 300;
  color: rgba(0, 0, 0, 1);
}
.modal input {
  width: 491px;
  height: 45px;
  margin-left: 30px;
  padding: 8px;
  direction: rtl;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}
.modal button {
  width: 497.5px;
  height: 54px;
  position: relative;
  top: 60px;
  left: 35px;
  /* margin-left: 40px;
  margin-top: 81px; */
  border: none;
  padding: 8px;
  border-radius: 6px;
  background-color: rgba(40, 167, 69, 1);
  color: rgb(255, 255, 255);
  font-size: 18px;
}
.modal span {
  position: relative;
  top: 20px;
  left: 20px;
}
@media (max-width: 768px) {
  .modal {
    width: 90%;
  }
  .modal h3 {
    font-family: " Yekan Bakh";
    font-weight: 600;
    font-style: "SemiBold";
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    margin: auto;
    margin-top: 30px;
    white-space: nowrap;
  }
  .modal p {
    font-family: "Yekan Bakh";
    font-weight: 300;
    font-style: Light;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: right;
    margin-top: 60px;
    margin-right: 50px;
  }
  .modal input {
    width: 80%;
    margin-top: 30px;
  }
  .modal button {
    width: 80%;
    font-family: "Vazir FD-WOL";
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
  }
}
