.container {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  border-bottom: 2px solid;
}
.logos {
  display: flex;
  align-items: center;
  width: 500px;
  height: auto;
  padding: 20px;
  justify-content: space-between;
  position: absolute;
  top: 160px;
  left: 120px;
}
.torinologo {
  position: absolute;
  left: 140px;
  top: 30px;
}
.supportphon {
  position: absolute;
  left: 140px;
  top: 80px;
  size: 15px;
  font-weight: 400;
}
.torinoAbout {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 1220px;
  width: 200px;
  height: auto;
  margin-top: 10px;
  align-items: center;
}
.torinoAbout p {
  font-family: "Yekan Bakh";
  font-weight: 400;
  font-style: "Regular";
  font-size: 18px;
  letter-spacing: 0%;
  text-align: right;
}
.customerService {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 1000px;
  width: 200px;
  height: auto;
  margin-top: 10px;
}
.customerService p {
  margin-bottom: 5px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(40, 40, 40, 1);
  font-family: " Yekan Bakh";
  font-weight: 400;
  font-style: "Regular";
  font-size: 18px;
  letter-spacing: 0%;
  text-align: right;
}

.parent::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100px; /* طول خط */
  height: 2px; /* ضخامت */
  background: black;
}
