.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: auto;
  border: none;
}
.form {
  display: flex;
  grid-template-columns: repeat(4, 1fr);
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  width: 100%;
  max-width: 874px;
  height: 71px;
}
.origin {
  margin: auto;
  direction: rtl;
  width: 90%;
  border-left: 1px solid rgba(0, 0, 0, 0.15);
}

.destination {
  margin: auto;
  direction: rtl;
  width: 90%;
  border-left: 1px solid rgba(0, 0, 0, 0.15);
}

.datepicker {
  margin: auto;
  margin-right: 5px;
  direction: rtl;
  width: 100%;
}
.button {
  margin: auto;
  width: 100%;
}
.button button {
  border: none;
  border-radius: 16px;
  background-color: rgba(40, 167, 69, 1);
  width: 100%;
  margin: 0;
  height: 51px;
  margin-left: 10px;
  font-family: "A Iranian Sans";
  font-weight: 400;
  font-style: "Regular";
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: white;
}
.calender {
  width: 90%;
  border: none;
  border-left: 1px solid rgba(0, 0, 0, 0.15);
  height: 50px;
}
:global(.css-137m4ck) {
  border: 1px solid rgba(0, 0, 0, 0.25) !important;
  border-radius: 12px !important;
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .button {
    width: 100%;
    order: 3;
    margin-right: 15px;
  }
  .datepicker {
    width: 100%;
    order: 2;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    margin-right: 20px;
  }
  .form {
    flex-direction: row;
    flex-wrap: wrap;
    border: none;
    width: 100%;
    height: auto;
    padding: 10px;
    gap: 10px;
  }
  .origin,
  .destination {
    order: 1;
    width: calc(50% - 5px);
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    margin: 0;
  }
  .calender {
    width: 100%;
  }
}
