.container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 71px;
    border: none;
}
.form{
    display: flex;
    border: 1px solid black;
    width: 874px;
    height: 71px;
}