.parent {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  height: auto;
  
}
.container {
  width: 80%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;

  
}
